#baidoo {
	float: left;
}

#login {
	margin-top: 3.5vw;
	float: right;
	font-size: 20px;
}

.nav-deco {
	float: left;
	margin-top: 2vw;
	padding: 1vw 2vw;
	text-align: center;
	font-size: 20px;
}

.nav-deco:hover {
	cursor: pointer;
	color: red;
	background-color: grey;
}

#image-display {
	height: 30%;
	width: 50%;
}

.body {
	margin-top: 2%;
}